body {
    background-image: url(img/background.png);
    font-family: sans-serif;
    padding: 20px;
}
.menu {
    width: 80%;
    background-color: #F5DEC0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
hr {
    height: 4px;
    background-color: #aa9a85;
    border: solid 0;
}
.bottom-line {
    margin-top: 25px;
}
img {
    display: block;
    margin: -25px auto 0 auto;
}
#cevi {
    margin-top: -50px;
}
.established {
    font-style: italic;
}
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
}
p, h1, h2 {
    text-align: center;
}
h1, h2 {
    font-family: impact, serif;

}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.encebollado, .ceviche, .drink {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}
/*Footer*/
footer {
    font-size: 14px;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: #4a2b03;
}
a:hover {
    color: #9d6d2d;
}
a:active {
    color: #bb8a4a;
}
.address {
    margin-bottom: 5px;
}